@font-face {
  font-family: Michroma;
  src: url("../assets/fonts/Michroma-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: 400;
}
