@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  margin: 1rem 5rem;

  &__link {
    text-decoration: none;
    border-bottom: 1px solid $mint;
    color: $bone;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    background-color: $mint;
    color: $charcoal;
  }

  &__link:hover {
    background-color: $charcoal;
    color: $bone;
  }
}
